@mixin flexCenter($direction,$justify,$align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    
}

body {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

h1, h2, h3 {
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
    @include flexCenter(row, space-between, "");

    li {
        display: inline;
        list-style-type: none;
        padding: 10px;
        width: 100%;
        text-align: center;
        user-select: none;

        &:hover {
            cursor: pointer;
            text-decoration: underline;
            background-color: lightgray;   
        }
    }
    
}


header {
    position: relative;
    h1 {
        padding: 1rem;
        @include flexCenter(row, center, center)
    }

    .reset {
        font-size: 14px;
        position: absolute;
        top: 25px;
        right: 60px;
    }

    .add-book {
        font-size: 14px;
        position: absolute;
        right: 40px;
        top: 25px;
    }
}


main {
    border-top: 1px solid;
    position: relative;
    flex-grow: 1;

    .aspect-list, .craft-list {
        display: none;
        overflow: scroll;

        li:not(:last-child) {
            border-right: 1px solid black;
        }
    }

    .craft-list {

        li.active {
            background-color: lightgray;
        }
    }

    .aspect-list {

        .aspect-tab {
            border-bottom: 1px solid black;
        }

        li:first-child:hover {
            background-color: yellow;
        }
        li:first-child.active {
            background-color: yellow;
        }
        li:nth-child(2):hover {
            background-color: orange;
        }
        li:nth-child(2).active {
            background-color: orange;
        }
        li:nth-child(3):hover {
            background-color: rgb(157, 241, 31);
        }
        li:nth-child(3).active {
            background-color: rgb(157, 241, 31);
        }
        li:nth-child(4):hover {
            background-color: rgb(193, 240, 255);
        }
        li:nth-child(4).active {
            background-color: rgb(193, 240, 255);
        }
        li:nth-child(5):hover {
            background-color: pink;
        }
        li:nth-child(5).active {
            background-color: pink;
        }
        li:nth-child(6):hover {
            background-color: red;
            color: whitesmoke;
        }
        li:nth-child(6).active {
            background-color: red;
            color: whitesmoke;
        }
        li:nth-child(7):hover {
            background-color: purple;
            color: whitesmoke;
        }
        li:nth-child(7).active {
            background-color: purple;
            color: whitesmoke;
        }
        li:nth-child(8):hover {
            background-color: violet;
        }
        li:nth-child(8).active {
            background-color: violet;
        }
        li:nth-child(9):hover {
            background-color: rgb(155, 84, 2);
            color: whitesmoke;
        }
        li:nth-child(9).active {
            background-color: rgb(155, 84, 2);
            color: whitesmoke;
        }
        li:nth-child(10):hover {
            background-color: rgb(238, 222, 253);
        }
        li:nth-child(10).active {
            background-color: rgb(238, 222, 253);
        }
        li:nth-child(11):hover {
            background-color: blue;
            color: whitesmoke;
        }
        li:nth-child(11).active {
            background-color: blue;
            color: whitesmoke;
        }
        li:nth-child(12):hover {
            background-color: green;
            color: whitesmoke;
        }
        li:nth-child(12).active {
            background-color: green;
            color: whitesmoke;
        }
        li:nth-child(13):hover {
            background-color: rgb(245, 245, 245);
        }
        li:nth-child(13).active {
            background-color: rgb(245, 245, 245);
        }
    }

    .visible {
        display: flex;
    }

    .hush-tab {
        border-right: 1px solid black;
    }

    .content {
        padding: 1rem;
        overflow: scroll;
    }
        
    .hush-content-headers, .craft-content-headers, .content-headers, .hush-container-grid, .container-grid, .recipe-grid {
        display: grid;
        text-align: center;
    }

    .hush-tab, .craft-tab, .recipe-tab {
        border-bottom: 1px solid black;
    }

    .hush-content-headers, .hush-container-grid {
        grid-template-columns: repeat(3, minmax(200px, 1fr));

        div {
            border-top: 1px solid black;
        }

        div:first-child {
            border-left: 1px solid black;
        }

        div:last-child {
            border-right: 1px solid black;
        }

        div:not(:last-child) {
            border-right: 1px solid black;
        }
    }

    .craft-content-headers, .recipe-grid {
        grid-template-columns: repeat(7, minmax(170px, 1fr));
    }

    .craft-content-headers {
        div {
            border-top: 1px solid black;
            border-bottom: 1px solid black;
        }

        div:first-child {
            border-left: 1px solid black;
        }

        div:last-child {
            border-right: 1px solid black;
        }

        div:not(:last-child) {
            border-right: 1px solid black;
        }
    }

    .recipe-grid {
        div {
            border-bottom: 1px solid black;
        }
        div:first-child {
            border-left: 1px solid black;
        }

        div:last-child {
            border-right: 1px solid black;
        }

        div:not(:last-child) {
            border-right: 1px solid black;
        }
    }

    .content-headers, .container-grid {
        grid-template-columns: repeat(4, minmax(300px, 1fr));
    }

    .content-headers {

        div {
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        }

        div:first-child {
            border-left: 1px solid black;
        }

        div:last-child {
            border-right: 1px solid black;
        }

        div:not(:last-child) {
            border-right: 1px solid black;
        }

    }

    .container-grid {
        
        div {
            border-right: 1px solid black;
            border-bottom: 1px solid black;
        }

        div:first-child {
            border-left: 1px solid black;
        }
    }


    .hush-container-grid, .container-grid, .recipe-grid {
        border-top: none;
        grid-template-rows: 100%;
    }

    .hush-container-grid, .container-grid {

        div {
            padding-left: 50px;
            padding-right: 50px;
            display: flex;
            justify-content: center;
        }
    }

    .recipe-grid {
        div {
            padding: .5rem;
            justify-content: center;
        }
    }

    .hush-container-grid {
        border-top: none;

        .book {
            position: relative;

            .fa-square-plus, .fa-square-minus, .fa-square-xmark {
                position: absolute;
                top: 0;
                transition: all 0.07s;

                &:hover {
                    cursor: pointer;
                    color: violet;
                }
            }

            .fa-square-plus {
                top: 30px;
                left: 10px;
            }

            .fa-square-minus {
                top: 30px;
                left: 35px;
            }

            .fa-square-xmark {
                top: 30px;
                right: 10px;
            }

            .flash {
                &:hover {
                    color: rgb(101, 2, 143);
                }
            }
        }

    }

}

footer {
    padding: 1rem;
    @include flexCenter(row, center, center);

    ul {
        list-style-type: none;
    }
}