html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

h1, h2, h3 {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: "";
}
ul li {
  display: inline;
  list-style-type: none;
  padding: 10px;
  width: 100%;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
ul li:hover {
  cursor: pointer;
  text-decoration: underline;
  background-color: lightgray;
}

header {
  position: relative;
}
header h1 {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
header .reset {
  font-size: 14px;
  position: absolute;
  top: 25px;
  right: 60px;
}
header .add-book {
  font-size: 14px;
  position: absolute;
  right: 40px;
  top: 25px;
}

main {
  position: relative;
  flex-grow: 1;
}
main .aspect-list, main .craft-list {
  display: none;
  overflow: scroll;
}
main .aspect-list li:not(:last-child), main .craft-list li:not(:last-child) {
  border-right: 1px solid black;
}
main .craft-list .recipe-tab {
  border-bottom: 1px solid black;
}
main .craft-list li.active {
  background-color: lightgray;
}
main .aspect-list .aspect-tab {
  border-bottom: 1px solid black;
}
main .aspect-list li:first-child:hover {
  background-color: yellow;
}
main .aspect-list li:first-child.active {
  background-color: yellow;
}
main .aspect-list li:nth-child(2):hover {
  background-color: orange;
}
main .aspect-list li:nth-child(2).active {
  background-color: orange;
}
main .aspect-list li:nth-child(3):hover {
  background-color: rgb(157, 241, 31);
}
main .aspect-list li:nth-child(3).active {
  background-color: rgb(157, 241, 31);
}
main .aspect-list li:nth-child(4):hover {
  background-color: rgb(193, 240, 255);
}
main .aspect-list li:nth-child(4).active {
  background-color: rgb(193, 240, 255);
}
main .aspect-list li:nth-child(5):hover {
  background-color: pink;
}
main .aspect-list li:nth-child(5).active {
  background-color: pink;
}
main .aspect-list li:nth-child(6):hover {
  background-color: red;
  color: whitesmoke;
}
main .aspect-list li:nth-child(6).active {
  background-color: red;
  color: whitesmoke;
}
main .aspect-list li:nth-child(7):hover {
  background-color: purple;
  color: whitesmoke;
}
main .aspect-list li:nth-child(7).active {
  background-color: purple;
  color: whitesmoke;
}
main .aspect-list li:nth-child(8):hover {
  background-color: violet;
}
main .aspect-list li:nth-child(8).active {
  background-color: violet;
}
main .aspect-list li:nth-child(9):hover {
  background-color: rgb(155, 84, 2);
  color: whitesmoke;
}
main .aspect-list li:nth-child(9).active {
  background-color: rgb(155, 84, 2);
  color: whitesmoke;
}
main .aspect-list li:nth-child(10):hover {
  background-color: rgb(238, 222, 253);
}
main .aspect-list li:nth-child(10).active {
  background-color: rgb(238, 222, 253);
}
main .aspect-list li:nth-child(11):hover {
  background-color: blue;
  color: whitesmoke;
}
main .aspect-list li:nth-child(11).active {
  background-color: blue;
  color: whitesmoke;
}
main .aspect-list li:nth-child(12):hover {
  background-color: rgb(53, 175, 53);
  color: whitesmoke;
}
main .aspect-list li:nth-child(12).active {
  background-color: rgb(53, 175, 53);
  color: whitesmoke;
}
main .aspect-list li:nth-child(13):hover {
  background-color: rgb(245, 245, 245);
}
main .aspect-list li:nth-child(13).active {
  background-color: rgb(245, 245, 245);
}
main .visible {
  display: flex;
}
main .content {
  padding: 1rem;
  overflow: scroll;
}
main .content .notes-box {
  display: flex;
  gap: 20px;
  height: -moz-min-content;
  height: min-content;
}
main .content .notes-box form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 500px;
}
main .content .notes-box form .notes-area {
  resize: none;
  height: 100px;
  padding: 0.5rem;
  font-family: "Poppins", "sans-serif";
  border: 1px solid lightgrey;
  border-radius: 10px;
}
main .content .notes-box form .notes-area:focus {
  outline: 1px solid black;
}
main .content .notes-box form button {
  width: 60%;
  align-self: center;
  height: 30px;
  font-weight: 500;
}
main .content .notes-box form button:hover {
  cursor: pointer;
}
main .content .notes-box .notes {
  height: 100%;
  width: 100%;
  display: flex;
  gap: 20px;
}
main .content .notes-box .notes .note {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid grey;
  height: 70px;
  min-width: 140px;
  padding: 1rem;
  position: relative;
  border-radius: 10px;
}
main .content .notes-box .notes .note .delete-note {
  position: absolute;
  top: 2px;
  right: 2px;
  padding: 1px;
  border: none;
  border-radius: 10px;
  height: 20px;
  width: 20px;
  background-color: red;
  color: whitesmoke;
}
main .content .notes-box .notes .note .delete-note:hover {
  font-weight: bold;
  cursor: pointer;
}
main .hush-content-headers, main .content-headers, main .craft-content-headers, main .skill-content-headers, main .hush-container-grid, main .container-grid, main .recipe-grid, main .skill-grid {
  display: grid;
  text-align: center;
}
main .hush-content-headers, main .hush-container-grid {
  grid-template-columns: repeat(3, minmax(300px, 1fr));
}
main .content-headers, main .skill-content-headers, main .container-grid, main .skill-grid {
  grid-template-columns: repeat(4, minmax(300px, 1fr));
}
main .craft-content-headers, main .recipe-grid {
  grid-template-columns: repeat(7, minmax(170px, 1fr));
}
main .hush-content-headers div, main .content-headers div, main .craft-content-headers div, main .skill-content-headers div {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}
main .hush-content-headers div:first-child, main .content-headers div:first-child, main .craft-content-headers div:first-child, main .skill-content-headers div:first-child {
  border-left: 1px solid black;
}
main .container-grid div:first-child, main .recipe-grid div:first-child, main .skill-grid div:first-child {
  border-left: 1px solid black;
}
main .container-grid div, main .recipe-grid div, main .skill-grid div {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}
main .skill-grid {
  /*
          .horo {
              background-color: rgb(35, 35, 255);
              color: whitesmoke;
          }

          .itha {
              background-color: orange;
          }

          .bosk {
              background-color: rgb(65, 163, 65);
              color: whitesmoke;
          }

          .illu {
              background-color: rgb(187, 211, 79);
          }

          .nycto {
              background-color: rgb(190, 172, 190);
          }

          .skole {
              background-color: rgb(189, 134, 52);
          }

          .hushery {
              background-color: paleturquoise;
          }

          .preser {
              background-color: rgb(238, 126, 145);
          }

          .bird {
              background-color: violet;
          }

          .chor {
              background-color: rgb(250, 139, 157);
          }

          .shapt {
              background-color: rgb(155, 2, 86);
              color: whitesmoke;
          }

          .fet {
              background-color: rgb(79, 105, 255);
              color: whitesmoke;
          }

          .ereb {
              background-color: rgb(95, 12, 190);
              color: whitesmoke;
          }

          .trist {
              background-color: rgb(145, 181, 192);
          }

          .mettle {
              background-color: rgb(248, 188, 22);
          }

          .health {
              background-color: rgb(255, 70, 70);
              color: whitesmoke;
          }

          .phost {
              background-color: yellow;
          }

          .wist {
              background-color: rgb(134, 50, 155);
              color: whitesmoke;
          }
  */
}
main .skill-grid div:first-child, main .skill-grid div:nth-child(2) {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
main .skill-grid div:nth-child(3), main .skill-grid div:nth-child(4) {
  padding-right: 5rem;
  padding-left: 5rem;
}
main .skill-grid div:nth-child(3) div, main .skill-grid div:nth-child(4) div {
  border-left: none;
  border-right: none;
  border-bottom: none;
}
main .skill-grid div:nth-child(3) div:first-child, main .skill-grid div:nth-child(4) div:first-child {
  border-bottom: 1px solid black;
}
main .hush-container-grid div {
  padding-left: 2rem;
  padding-right: 2rem;
  border-top: none;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}
main .hush-container-grid .book {
  border-left: 1px solid black;
  position: relative;
}
main .hush-container-grid .book .fa-square-plus, main .hush-container-grid .book .fa-square-minus, main .hush-container-grid .book .fa-square-xmark {
  position: absolute;
  top: 0;
  transition: all 0.07s;
}
main .hush-container-grid .book .fa-square-plus:hover, main .hush-container-grid .book .fa-square-minus:hover, main .hush-container-grid .book .fa-square-xmark:hover {
  cursor: pointer;
  color: violet;
}
main .hush-container-grid .book .fa-square-plus {
  top: 30px;
  left: 10px;
}
main .hush-container-grid .book .fa-square-minus {
  top: 30px;
  right: 10px;
}
main .hush-container-grid .book .flash:hover {
  color: rgb(101, 2, 143);
}
main .main-nav nav ul {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
main .main-nav nav ul li:not(:last-child) {
  border-right: 1px solid black;
}

footer {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
footer ul {
  list-style-type: none;
}/*# sourceMappingURL=style.css.map */