@mixin flexCenter($direction,$justify,$align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    
}

body {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

h1, h2, h3 {
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
    @include flexCenter(row, space-between, "");

    li {
        display: inline;
        list-style-type: none;
        padding: 10px;
        width: 100%;
        text-align: center;
        user-select: none;

        &:hover {
            cursor: pointer;
            text-decoration: underline;
            background-color: lightgray;   
        }
    }
    
}


header {
    position: relative;
    h1 {
        padding: 1rem;
        @include flexCenter(row, center, center)
    }

    .reset {
        font-size: 14px;
        position: absolute;
        top: 25px;
        right: 60px;
    }

    .add-book {
        font-size: 14px;
        position: absolute;
        right: 40px;
        top: 25px;
    }
}


main {
    position: relative;
    flex-grow: 1;

    .aspect-list, .craft-list {
        display: none;
        overflow: scroll;

        li:not(:last-child) {
            border-right: 1px solid black;
        }
    }

    .craft-list {

        .recipe-tab {
            border-bottom: 1px solid black;
        }

        li.active {
            background-color: lightgray;
        }
    }

    .aspect-list {

        .aspect-tab {
            border-bottom: 1px solid black;
        }

        li:first-child:hover {
            background-color: yellow;
        }
        li:first-child.active {
            background-color: yellow;
        }
        li:nth-child(2):hover {
            background-color: orange;
        }
        li:nth-child(2).active {
            background-color: orange;
        }
        li:nth-child(3):hover {
            background-color: rgb(157, 241, 31);
        }
        li:nth-child(3).active {
            background-color: rgb(157, 241, 31);
        }
        li:nth-child(4):hover {
            background-color: rgb(193, 240, 255);
        }
        li:nth-child(4).active {
            background-color: rgb(193, 240, 255);
        }
        li:nth-child(5):hover {
            background-color: pink;
        }
        li:nth-child(5).active {
            background-color: pink;
        }
        li:nth-child(6):hover {
            background-color: red;
            color: whitesmoke;
        }
        li:nth-child(6).active {
            background-color: red;
            color: whitesmoke;
        }
        li:nth-child(7):hover {
            background-color: purple;
            color: whitesmoke;
        }
        li:nth-child(7).active {
            background-color: purple;
            color: whitesmoke;
        }
        li:nth-child(8):hover {
            background-color: violet;
        }
        li:nth-child(8).active {
            background-color: violet;
        }
        li:nth-child(9):hover {
            background-color: rgb(155, 84, 2);
            color: whitesmoke;
        }
        li:nth-child(9).active {
            background-color: rgb(155, 84, 2);
            color: whitesmoke;
        }
        li:nth-child(10):hover {
            background-color: rgb(238, 222, 253);
        }
        li:nth-child(10).active {
            background-color: rgb(238, 222, 253);
        }
        li:nth-child(11):hover {
            background-color: blue;
            color: whitesmoke;
        }
        li:nth-child(11).active {
            background-color: blue;
            color: whitesmoke;
        }
        li:nth-child(12):hover {
            background-color: rgb(53, 175, 53);
            color: whitesmoke;
        }
        li:nth-child(12).active {
            background-color: rgb(53, 175, 53);
            color: whitesmoke;
        }
        li:nth-child(13):hover {
            background-color: rgb(245, 245, 245);
        }
        li:nth-child(13).active {
            background-color: rgb(245, 245, 245);
        }
    }

    .visible {
        display: flex;
    }

    .content {
        padding: 1rem;
        overflow: scroll;
    }

    .hush-content-headers, .content-headers, .craft-content-headers, .skill-content-headers, .hush-container-grid, .container-grid, .recipe-grid, .skill-grid {
        display: grid;
        text-align: center;
    }

    .hush-content-headers, .hush-container-grid {
        grid-template-columns: repeat(3, minmax(300px, 1fr));
    }

    .content-headers, .skill-content-headers, .container-grid, .skill-grid {
        grid-template-columns: repeat(4, minmax(300px, 1fr));
    }

    .craft-content-headers, .recipe-grid {
        grid-template-columns: repeat(7, minmax(170px, 1fr));
    }

    .hush-content-headers, .content-headers, .craft-content-headers, .skill-content-headers {
        div {
            border-top: 1px solid black;
            border-bottom: 1px solid black;
            border-right: 1px solid black;
        }

        div:first-child {
            border-left: 1px solid black;
        }
    }

    .container-grid, .recipe-grid, .skill-grid {
        
        div:first-child{
            border-left: 1px solid black;
        }

        div {
            border-right: 1px solid black;
            border-bottom: 1px solid black;
        }
        
    }

    .skill-grid {
        div:first-child, div:nth-child(2) {
            @include flexCenter(row, center, center)
        }
        div:nth-child(3), div:nth-child(4) {
            padding-right: 5rem;
            padding-left: 5rem;
            
            div {
                border-left: none;
                border-right: none;
                border-bottom: none;
            }
            
            div:first-child {
                border-bottom: 1px solid black;
            }
        }
/*
        .horo {
            background-color: rgb(35, 35, 255);
            color: whitesmoke;
        }

        .itha {
            background-color: orange;
        }

        .bosk {
            background-color: rgb(65, 163, 65);
            color: whitesmoke;
        }

        .illu {
            background-color: rgb(187, 211, 79);
        }

        .nycto {
            background-color: rgb(190, 172, 190);
        }

        .skole {
            background-color: rgb(189, 134, 52);
        }

        .hushery {
            background-color: paleturquoise;
        }

        .preser {
            background-color: rgb(238, 126, 145);
        }

        .bird {
            background-color: violet;
        }

        .chor {
            background-color: rgb(250, 139, 157);
        }

        .shapt {
            background-color: rgb(155, 2, 86);
            color: whitesmoke;
        }

        .fet {
            background-color: rgb(79, 105, 255);
            color: whitesmoke;
        }
        
        .ereb {
            background-color: rgb(95, 12, 190);
            color: whitesmoke;
        }

        .trist {
            background-color: rgb(145, 181, 192);
        }

        .mettle {
            background-color: rgb(248, 188, 22);
        }

        .health {
            background-color: rgb(255, 70, 70);
            color: whitesmoke;
        }

        .phost {
            background-color: yellow;
        }

        .wist {
            background-color: rgb(134, 50, 155);
            color: whitesmoke;
        }
*/
    }
    
    
    .hush-container-grid {

        div {
            padding-left: 2rem;
            padding-right: 2rem;
            border-top: none;
            border-bottom: 1px solid black;
            border-right: 1px solid black;
        }
        

        .book {
            border-left: 1px solid black;
            position: relative;

            .fa-square-plus, .fa-square-minus, .fa-square-xmark {
                position: absolute;
                top: 0;
                transition: all 0.07s;

                &:hover {
                    cursor: pointer;
                    color: violet;
                }
            }

            .fa-square-plus {
                top: 30px;
                left: 10px;
            }

            .fa-square-minus {
                top: 30px;
                right: 10px;
            }

            .flash {
                &:hover {
                    color: rgb(101, 2, 143);
                }
            }
        }

    }

    .main-nav nav {
        ul {
            border-top: 1px solid black;
            border-bottom: 1px solid black;

            li:not(:last-child) {
                border-right: 1px solid black;
            }
        }
    }

}

footer {
    padding: 1rem;
    @include flexCenter(row, center, center);

    ul {
        list-style-type: none;
    }
}