html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

h1, h2, h3 {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: "";
}
ul li {
  display: inline;
  list-style-type: none;
  padding: 10px;
  width: 100%;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
ul li:hover {
  cursor: pointer;
  text-decoration: underline;
  background-color: lightgray;
}

header {
  position: relative;
}
header h1 {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
header .reset {
  font-size: 14px;
  position: absolute;
  top: 25px;
  right: 130px;
}
header .add-book {
  font-size: 14px;
  position: absolute;
  right: 40px;
  top: 25px;
}

main {
  border-top: 1px solid;
  position: relative;
  flex-grow: 1;
}
main .aspect-list, main .craft-list {
  display: none;
  overflow: scroll;
}
main .aspect-list li:not(:last-child), main .craft-list li:not(:last-child) {
  border-right: 1px solid black;
}
main .craft-list li.active {
  background-color: lightgray;
}
main .aspect-list .aspect-tab {
  border-bottom: 1px solid black;
}
main .aspect-list li:first-child:hover {
  background-color: yellow;
}
main .aspect-list li:first-child.active {
  background-color: yellow;
}
main .aspect-list li:nth-child(2):hover {
  background-color: orange;
}
main .aspect-list li:nth-child(2).active {
  background-color: orange;
}
main .aspect-list li:nth-child(3):hover {
  background-color: rgb(157, 241, 31);
}
main .aspect-list li:nth-child(3).active {
  background-color: rgb(157, 241, 31);
}
main .aspect-list li:nth-child(4):hover {
  background-color: rgb(193, 240, 255);
}
main .aspect-list li:nth-child(4).active {
  background-color: rgb(193, 240, 255);
}
main .aspect-list li:nth-child(5):hover {
  background-color: pink;
}
main .aspect-list li:nth-child(5).active {
  background-color: pink;
}
main .aspect-list li:nth-child(6):hover {
  background-color: red;
  color: whitesmoke;
}
main .aspect-list li:nth-child(6).active {
  background-color: red;
  color: whitesmoke;
}
main .aspect-list li:nth-child(7):hover {
  background-color: purple;
  color: whitesmoke;
}
main .aspect-list li:nth-child(7).active {
  background-color: purple;
  color: whitesmoke;
}
main .aspect-list li:nth-child(8):hover {
  background-color: violet;
}
main .aspect-list li:nth-child(8).active {
  background-color: violet;
}
main .aspect-list li:nth-child(9):hover {
  background-color: rgb(155, 84, 2);
  color: whitesmoke;
}
main .aspect-list li:nth-child(9).active {
  background-color: rgb(155, 84, 2);
  color: whitesmoke;
}
main .aspect-list li:nth-child(10):hover {
  background-color: rgb(238, 222, 253);
}
main .aspect-list li:nth-child(10).active {
  background-color: rgb(238, 222, 253);
}
main .aspect-list li:nth-child(11):hover {
  background-color: blue;
  color: whitesmoke;
}
main .aspect-list li:nth-child(11).active {
  background-color: blue;
  color: whitesmoke;
}
main .aspect-list li:nth-child(12):hover {
  background-color: green;
  color: whitesmoke;
}
main .aspect-list li:nth-child(12).active {
  background-color: green;
  color: whitesmoke;
}
main .aspect-list li:nth-child(13):hover {
  background-color: rgb(245, 245, 245);
}
main .aspect-list li:nth-child(13).active {
  background-color: rgb(245, 245, 245);
}
main .visible {
  display: flex;
}
main .hush-tab {
  border-right: 1px solid black;
}
main .content {
  padding: 1rem;
  overflow: scroll;
}
main .hush-content-headers, main .craft-content-headers, main .content-headers, main .hush-container-grid, main .container-grid, main .recipe-grid {
  display: grid;
  text-align: center;
}
main .hush-tab, main .craft-tab, main .recipe-tab {
  border-bottom: 1px solid black;
}
main .hush-content-headers, main .hush-container-grid {
  grid-template-columns: repeat(3, minmax(200px, 1fr));
}
main .hush-content-headers div, main .hush-container-grid div {
  border-top: 1px solid black;
}
main .hush-content-headers div:first-child, main .hush-container-grid div:first-child {
  border-left: 1px solid black;
}
main .hush-content-headers div:last-child, main .hush-container-grid div:last-child {
  border-right: 1px solid black;
}
main .hush-content-headers div:not(:last-child), main .hush-container-grid div:not(:last-child) {
  border-right: 1px solid black;
}
main .craft-content-headers, main .recipe-grid {
  grid-template-columns: repeat(7, minmax(170px, 1fr));
}
main .craft-content-headers div {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
main .craft-content-headers div:first-child {
  border-left: 1px solid black;
}
main .craft-content-headers div:last-child {
  border-right: 1px solid black;
}
main .craft-content-headers div:not(:last-child) {
  border-right: 1px solid black;
}
main .recipe-grid div {
  border-bottom: 1px solid black;
}
main .recipe-grid div:first-child {
  border-left: 1px solid black;
}
main .recipe-grid div:last-child {
  border-right: 1px solid black;
}
main .recipe-grid div:not(:last-child) {
  border-right: 1px solid black;
}
main .content-headers, main .container-grid {
  grid-template-columns: repeat(4, minmax(300px, 1fr));
}
main .content-headers div {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
main .content-headers div:first-child {
  border-left: 1px solid black;
}
main .content-headers div:last-child {
  border-right: 1px solid black;
}
main .content-headers div:not(:last-child) {
  border-right: 1px solid black;
}
main .container-grid div {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}
main .container-grid div:first-child {
  border-left: 1px solid black;
}
main .hush-container-grid, main .container-grid, main .recipe-grid {
  border-top: none;
  grid-template-rows: 100%;
}
main .hush-container-grid div, main .container-grid div {
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  justify-content: center;
}
main .recipe-grid div {
  padding: 0.5rem;
  justify-content: center;
}
main .hush-container-grid {
  border-top: none;
}
main .hush-container-grid .book {
  position: relative;
}
main .hush-container-grid .book .fa-square-plus, main .hush-container-grid .book .fa-square-minus, main .hush-container-grid .book .fa-square-xmark {
  position: absolute;
  top: 0;
  transition: all 0.07s;
}
main .hush-container-grid .book .fa-square-plus:hover, main .hush-container-grid .book .fa-square-minus:hover, main .hush-container-grid .book .fa-square-xmark:hover {
  cursor: pointer;
  color: violet;
}
main .hush-container-grid .book .fa-square-plus {
  top: 30px;
  left: 10px;
}
main .hush-container-grid .book .fa-square-minus {
  top: 30px;
  left: 35px;
}
main .hush-container-grid .book .fa-square-xmark {
  top: 30px;
  right: 10px;
}
main .hush-container-grid .book .flash:hover {
  color: rgb(101, 2, 143);
}

footer {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
footer ul {
  list-style-type: none;
}/*# sourceMappingURL=style.css.map */