@mixin flexCenter($direction,$justify,$align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    
}

body {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

h1, h2, h3 {
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
    @include flexCenter(row, space-around, center);

    li {
        display: inline;
        list-style-type: none;
        padding: 10px;
        width: 100%;
        text-align: center;
        user-select: none;

        &:hover {
            cursor: pointer;
            text-decoration: underline;
            background-color: lightgray;   
        }
    }
    
}


header {
    position: relative;
    h1 {
        padding: 1rem;
        @include flexCenter(row, center, center)
    }

    .reset {
        font-size: 14px;
        position: absolute;
        top: 25px;
        right: 130px;
    }

    .add-book {
        font-size: 14px;
        position: absolute;
        right: 40px;
        top: 25px;
    }
}


main {
    border-top: 1px solid;
    position: relative;
    flex-grow: 1;

    .book-form {
        display: none;
            position: absolute;
            top: 100px;
            left: 44.5%;
            z-index: 3;
            background-color: whitesmoke;
            border: 1px solid black;
            padding: .4rem;

        fieldset {
            border: none;
            gap: 3px;
            background-color: whitesmoke;
            @include flexCenter(column, center, "");

            legend {
                margin-left: -2px;
            }

            label {
                text-align: left;
            }

            label[for="addNow"] {
                -moz-user-select: none;
                user-select: none;
            }

            #submit {
                margin-top: .5rem;
                padding: .4rem;
            }
        }

        .visible {
            display: block;
           
        }
    }

    .aspect-list, .craft-list {
        display: none;
        border-top: 1px solid black;
        min-width: fit-content;

        li:not(:last-child) {
            border-right: 1px solid black;
        }
    }

    .visible {
        display: flex;
    }

    .hush-tab {
        border-right: 1px solid black;
    }

    .content {
        border-top: 1px solid black;
        padding: 1rem;
    }
        
    .hush-content-headers, .craft-content-headers, .content-headers, .hush-container-grid, .container-grid, .recipe-grid {
        display: grid;
        text-align: center;
        border: 1px solid black;
        overflow: hidden;
        min-width: fit-content;

        div:not(:last-child) {
            border-right: 1px solid black;
        }
    }

    .hush-content-headers, .hush-container-grid {
        grid-template-columns: repeat(3, minmax(200px, 1fr));
    }

    .craft-content-headers, .recipe-grid {
        grid-template-columns: repeat(7, minmax(170px, 1fr));
    }

    .content-headers, .container-grid {
        grid-template-columns: repeat(4, minmax(300px, 1fr));
    }

    .hush-container-grid, .container-grid, .recipe-grid {
        border-top: none;
        grid-template-rows: 100%;
    }

    .hush-container-grid, .container-grid {

        div {
            padding-left: 50px;
            padding-right: 50px;
            display: flex;
            justify-content: center;
        }
    }

    .recipe-grid {
        div {
            padding: .5rem;
            justify-content: center;
        }
    }

    .hush-container-grid {
        border-top: none;

        .book {
            position: relative;

            .fa-square-plus, .fa-square-minus, .fa-square-xmark {
                position: absolute;
                top: 0;
                transition: all 0.07s;

                &:hover {
                    cursor: pointer;
                    color: violet;
                }
            }

            .fa-square-plus {
                top: 30px;
                left: 10px;
            }

            .fa-square-minus {
                top: 30px;
                left: 35px;
            }

            .fa-square-xmark {
                top: 30px;
                right: 10px;
            }

            .flash {
                &:hover {
                    color: rgb(101, 2, 143);
                }
            }
        }

    }

}

footer {
    padding: 1rem;
    @include flexCenter(row, center, center);

    ul {
        list-style-type: none;
    }
}