html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

h1, h2, h3 {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
ul li {
  display: inline;
  list-style-type: none;
  padding: 10px;
  width: 100%;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
ul li:hover {
  cursor: pointer;
  text-decoration: underline;
  background-color: lightgray;
}

header {
  position: relative;
}
header h1 {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
header .add-recipe {
  font-size: 14px;
  position: absolute;
  top: 25px;
  right: 130px;
}
header .add-book {
  font-size: 14px;
  position: absolute;
  right: 40px;
  top: 25px;
}

main {
  border-top: 1px solid;
  position: relative;
  flex-grow: 1;
}
main .book-form {
  display: none;
  position: absolute;
  top: 100px;
  left: 44.5%;
  z-index: 3;
  background-color: whitesmoke;
  border: 1px solid black;
  padding: 0.4rem;
}
main .book-form fieldset {
  border: none;
  gap: 3px;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: "";
}
main .book-form fieldset legend {
  margin-left: -2px;
}
main .book-form fieldset label {
  text-align: left;
}
main .book-form fieldset label[for=addNow] {
  -moz-user-select: none;
  -webkit-user-select: none;
          user-select: none;
}
main .book-form fieldset #submit {
  margin-top: 0.5rem;
  padding: 0.4rem;
}
main .book-form .visible {
  display: block;
}
main .recipe-form-box form {
  display: none;
  position: absolute;
  top: 100px;
  left: 43%;
  z-index: 3;
  background-color: whitesmoke;
  border: 1px solid black;
  padding: 0.3rem;
}
main .recipe-form-box form fieldset {
  height: 100%;
  text-align: left;
  border: none;
  gap: 3px;
  display: flex;
  flex-direction: column;
  justify-content: "";
  align-items: "";
}
main .recipe-form-box form fieldset legend {
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: -4px;
}
main .recipe-form-box form fieldset label[for=type] {
  margin-top: -5px;
}
main .recipe-form-box form fieldset .ingredients-input-box {
  position: relative;
}
main .recipe-form-box form fieldset .ingredients-input-box .add-ingredients-buttons {
  position: absolute;
  top: 0;
  right: 5px;
}
main .recipe-form-box form fieldset .ingredients-input-box .add-ingredients-buttons span:hover {
  color: violet;
  cursor: pointer;
}
main .recipe-form-box form fieldset .ingredients-input-box .ingredient-inputs {
  gap: 5px;
  display: flex;
  flex-direction: column;
  justify-content: "";
  align-items: "";
}
main .recipe-form-box form fieldset .results-input-box {
  position: relative;
}
main .recipe-form-box form fieldset .results-input-box .add-result-buttons {
  position: absolute;
  top: 0;
  right: 5px;
}
main .recipe-form-box form fieldset .results-input-box .add-result-buttons span:hover {
  color: violet;
  cursor: pointer;
}
main .recipe-form-box form fieldset .results-input-box .result-inputs {
  gap: 5px;
  display: flex;
  flex-direction: column;
  justify-content: "";
  align-items: "";
}
main .recipe-form-box form fieldset #notes {
  resize: none;
}
main .recipe-form-box form fieldset #submitRecipe {
  margin-top: 5px;
  padding: 0.4rem;
}
main .recipe-form-box form fieldset select {
  padding: 0.2rem;
}
main .recipe-form-box .visible {
  display: block;
}
main .aspect-list, main .craft-list {
  display: none;
  border-top: 1px solid black;
}
main .aspect-list li:not(:last-child), main .craft-list li:not(:last-child) {
  border-right: 1px solid black;
}
main .visible {
  display: flex;
}
main .hush-tab {
  border-right: 1px solid black;
}
main .content {
  padding: 10px;
  border-top: 1px solid black;
}
main .content-headers, main .hush-content-headers, main .craft-content-headers {
  display: grid;
  grid-auto-flow: row;
  text-align: center;
  border: 1px solid black;
}
main .content-headers div, main .hush-content-headers div, main .craft-content-headers div {
  padding: 0.4rem;
}
main .content-headers div:not(:last-child), main .hush-content-headers div:not(:last-child), main .craft-content-headers div:not(:last-child) {
  border-right: 1px solid black;
}
main .craft-content-headers {
  grid-template-columns: repeat(7, 1fr);
}
main .content-headers {
  grid-template-columns: repeat(4, 1fr);
}
main .hush-content-headers {
  grid-template-columns: repeat(3, 1fr);
}
main .box {
  display: grid;
  grid-auto-flow: row;
}
main .hush-container-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: 1px solid black;
  border-top: none;
  font-size: 16px;
}
main .hush-container-grid div:first-child {
  position: relative;
}
main .hush-container-grid div:first-child .fa-square-plus {
  position: absolute;
  left: 5px;
}
main .hush-container-grid div:first-child .fa-square-plus:hover {
  color: violet;
  cursor: pointer;
}
main .hush-container-grid div:first-child .fa-square-xmark {
  position: absolute;
  right: 5px;
}
main .hush-container-grid div:first-child .fa-square-xmark:hover {
  color: violet;
  cursor: pointer;
}
main .hush-container-grid p {
  width: 350px;
}
main .hush-container-grid div {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
main .hush-container-grid .book {
  border-right: 1px solid black;
}
main .hush-container-grid .skill {
  border-left: 1px solid black;
}
main .container-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-bottom: 1px solid black;
}
main .container-grid div {
  text-align: center;
  border-right: 1px solid black;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
main .container-grid .book {
  border-left: 1px solid black;
}
main .container-grid .skill {
  border-right: 1px solid black;
}
main .recipe-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  border-bottom: 1px solid black;
  width: 100%;
}
main .recipe-grid div {
  text-align: center;
  border-right: 1px solid black;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
main .recipe-grid .name {
  border-left: 1px solid black;
}
main .recipe-grid .notes {
  border-right: 1px solid black;
}

footer {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
footer ul {
  list-style-type: none;
}/*# sourceMappingURL=style.css.map */